/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Arial, Tahoma, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  color: #333333;
}
button:focus {
  outline: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Storm Style */

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #1a3037;
}

#main-body {
	background: #f9f9f9;
}

a {
	font-weight: bold;
}

a,
a:active,
a:visited {
	color: #68a227;
	text-decoration: none;
}

a:hover {
	color: #addf00;
	text-decoration: none;
}


h1,h2,h3 {
	font-weight: bold;
	margin-bottom: 20px;
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 22px;
    text-transform: uppercase;
}

h2 {
	font-size: 18px;
}

p {
	line-height: 24px;
}


.breadcrumbs {
	padding-top: 60px;
	padding-bottom: 20px;
}

.breadcrumb-item {
	display: inline;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
}

.breadcrumbs a {
	font-weight: normal;
}

.header{
    text-align: left;
    padding: 0;
    display: inline-block;
    width: 100%;
    background: #ffffff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #eee;
    z-index: 10;
    top: 0;
}

.logo {
	max-width: 62px;
	padding-top: 10px;
}
.page-title {
    line-height: 56px;
}

.logo, .logo img {
    max-height: 32px;
}

.container {
	margin: 20px auto;
	max-width: 1010px;
}

.header .container {
    margin: 0 auto;
    height: 47px;
}

.page {
	min-height: calc(100vh - 75px);
}

.page.no-height-set {
	min-height: 0;
}

.container.page {
	margin-top: 0;
}

iframe {
	max-width: 100%;
}

.wrapper {
	width: 100%;
	float: left;
	height: 100%;
}


.footer {
	width: 100%;
	position: relative;
}

.footer p {
	color: #12638c;
	font-size: 10px;
	text-align: center;
	padding-top: 20px;
}

.footer svg {
	position: absolute;
}

/*Rules*/
.no-padding {
	padding: 0;
}




/*Components*/

/*Loading*/

.loading.busy {
	position: absolute;
	background: rgba(255,255,255,.95);
	width: 100%;
	height: calc(100% - 70px);
	top: 70px;
	left: 0;
	z-index: 9;
}

.loading.busy:after {
	content:url(../images/three-dots.svg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 60px;
	text-align: center;
}

/*Images*/
.figure{

}
figure img {
	max-width: 100%;
}

/*Tables*/
.table {
	display: table;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
}


/*Pages*/
.info {
	padding-bottom: 20px;
}



/*Client Page*/

.client-description.info img {
	max-width: 160px;
	padding-bottom: 10px;
}


/*Campagne page*/

.campaign-description {
	padding-bottom: 20px;
}

.fases-holder {
	width: 100%;
}

.fases-holder.for-float {
	display: inline-block;
}

.fase {
	width: calc(100% / 3);
}

.fase.half {
	float: left;
	margin-right: 20px;
}

.fase-link {
	display: inline-block;
	padding: 0 20px 20px 0px;
}

.fase figure {
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	border: 1px solid #f4f4f4;
}

.fase figure figcaption {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	width: calc(100% - 40px);
	background: rgba(0, 0, 0, 0.6)
}

.fase h2 {
	color: #fff;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

.fase-link figure img {
	transition: .3s all ease-in-out;
}

.fase-link:hover figure img {
	transform: scale(1.1);
}


/*Fase Page*/

.sets-list {
	position: relative;
}

.fase-info-content {
	display: inline-block;
	width: 100%;
	padding-bottom: 60px;
}

.fase-info-content .left {
	float: left;
	width: 20%;
	padding-right: 20px;
}

.fase-info-content .right {
	float: left;
	width: calc(80% - 20px);
}

.fase-info-image figure {
	border: 1px solid #f4f4f4;
}

.fase-info-image figure img {
	width: 100%;
	border-radius: 2px;
}

.included-iframe {
	width: 100%;
}

.iframe-holder.set-view {
	position: relative;
}
.iframe-holder.set-view > iframe {
	position: relative;
	z-index: 2;
}
/*.iframe-holder.set-view:before {
	content: url(../images/three-dots.svg);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%, -50%);
}*/


/*Tabs*/

.set-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.input {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.label:hover {
  color: #888;
  cursor: pointer;
}

.input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 3px solid #a5d500;
  border-bottom: 1px solid #fff;
}

#tab-0:checked ~ #content-0,
#tab-1:checked ~ #content-1,
#tab-2:checked ~ #content-2,
#tab-3:checked ~ #content-3,
#tab-4:checked ~ #content-4 {
	display: block;
}

/*#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}*/


/*Set page*/

.set-view {
	background: #efefef
}

.row.creatives {

}

.row.creatives.scrapers,
.row.creatives.rectangles {
	display: inline-block;
	width: 100%;
}

.row.creatives.scrapers > div,
.row.creatives.rectangles > div {
	float: left;
	margin-right: 20px;
}

.row.creatives.scrapers > div:last-of-type,
.row.creatives.rectangles > div:last-of-type {
	margin-right: 0;
}

/* Creatives */


.test {
	width: 80px;
	height: 40px;
	background: red;
}

.iframe-holder {
	padding: 20px 20px 60px;
	position: relative;
	margin-bottom: 20px;
	text-align: left;
}

.button-holder {
	width: calc(100% - 40px);
	height: 60px;
	position: absolute;
	bottom: 0
}

button.replay {
	cursor: pointer;
	position: absolute;
	font-size: 16px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 9;
	background: #a5d500;
	padding: 5px 10px;
	border-radius: 2px;
	color: #fff;
}

button.replay span {
	content: '\f00c';
	font-family: 'FontAwesome';
	display: inline-block;
	width: 20px;
	height: 20px;
}

button.replay .fa {
	padding-left: 5px;
}

button.replay:hover{
	background: #addf00;
}

.rectangle {
	width: 336px;
	height: 280px;
}

.medium-rectangle {
	width: 300px;
	height: 250px;
}

.skyscraper {
	width: 120px;
	height: 600px;
}

.wide-skyscraper{
	width: 160px;
	height: 600px;
}

.halfpage{
	width: 300px;
	height: 600px;
}

.billboard{
	width: 970px;
	height: 250px;
}

.leaderboard{
	width: 728px;
	height: 90px;
}

/*Homepage*/

.clients-list-item,
.campaigns-list-item,
.sets-list-item {
	margin-bottom: 10px;
}

/*Canvas*/

/*.marvel-device.canvas .screen {
	overflow: auto;
	overflow-y: scroll;
}
*/

.screen {
	width: 480px;
	height: 780px;
	border: 1px solid #000;
	overflow: scroll;
	border-radius: 3px;
}
.c_img {
	width: 100%;
	max-width: 100%;
}

.panorama {
	width: auto;
	max-width: none;
	height: 300px;
}